html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;

    color: rgba(0, 0, 0, 0.9);
}

a:link {
    color:#0000FF;
    text-decoration: underline; }
a:visited {
    color: #0000FF;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}


small {
    font-size: 13px;
    line-height: 1.2;
}

small a {
    background-position: 0 12px;
}

ul {
    list-style: none;
    margin: 20px 20px;
    padding: 0;
}

li {
    margin: 7px 0 13px;
    list-style: circle;
    line-height: 1.2;
}

h2 {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 10px 0 0;
}

.content {
    width: 66%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 50px 0 0;
}

header img {
    width: 100px;
    height: 100px;
    margin: 0 0 5px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

header li {
    display: inline;
    padding: 0 9px;
    margin: 0;
}

header:after,
section:after {
    content: '';
    display: block;
    width: 666px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 15px auto;
    padding: 0;
}

footer {
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 50px;
}

header a,
footer a {
    background: none;
    transition: 0.2s;
}

header a:hover,
footer a:hover {
    color: rgba(70, 130, 180, 0.9);
}

footer a {
    font-weight: bold;
    text-decoration: underline;
}

.paper-title {
    color: #003399;
    font-weight: bold;
}

